In [7]:
def som_dois_valores(valor1,valor2):
    return valor1+valor2

In [10]:
som_dois_valores(2,3)

5

In [17]:
notas = [5,6,4,9,7,7,5,"nota"]

In [23]:
tupla = (1,2,3,"tupla")
tupla

(1, 2, 3, 'tupla')

In [29]:
pessoas_conecidas = ["joao","maria"]
pessoa = input("nome da pessoa ")

if pessoa in pessoas_conecidas:
    print("pessoa conhecida: {}".format(pessoa))
else:
    print("Pessoa desconhecida")

pessoa conhecida: maria

In [31]:
numeros_pares = list(range(0,11,2))

for numero in numeros_pares:
    print(numero**3)

0
8
64
216
512
1000

In [33]:
x = 0
while x <= 10:
    print(x ** 3)
    x += 2

0
8
64
216
512
1000

In [42]:
usuario_quiser = True

In [43]:
while usuario_quiser == True:
    usuario_imput = input("Quer continuar? (S/N)")
    if usuario_imput == 'N':
        usuario_quiser = False

In [45]:
ana = ' ana '
ana.strip().capitalize()

'Ana'

In [61]:
class JogadorLoteria:
    def __init__(self,nome):
        self.nome = nome
        self.numeros = (11,22,33,44,55,66)

    def total(self):
        return sum(self.numeros)

In [62]:
jogador_1 = JogadorLoteria("Ana")
jogador_2 = JogadorLoteria("Felipe")

In [64]:
jogador_2.nome

'Felipe'

In [56]:
jogador_1.total()

231

In [59]:
jogador_1 == jogador_2

False

In [65]:
class Funcionario():
    def __init__(self,nome,salario):
        self.nome = nome
        self.salario = salario

    def dados(self):
        return {'nome' : self.nome , 'salario': self.salario}

In [66]:
fabio = Funcionario("Fabio", 70000)

In [67]:
fabio.dados()

{'nome': 'Fabio', 'salario': 70000}

In [69]:
class Admin(Funcionario):
    def __init__(self, nome, salario):
        super().__init__(nome, salario)

    def atualizar_dados(self,nome):
        self.nome = nome
        return self.dados()

In [71]:
fernando = Admin('Fernando',10000)

In [73]:
fabio.dados()

{'nome': 'Fabio', 'salario': 70000}

In [74]:
fernando.dados()

{'nome': 'Fernando', 'salario': 10000}

In [75]:
fernando.atualizar_dados("fernandinho")

{'nome': 'fernandinho', 'salario': 10000}

In [98]:
class Funcionario():
    aumento = 1.4

    def __init__(self,nome,salario):
        self.nome = nome
        self.salario = salario

    def dados(self):
        return {'nome' : self.nome , 'salario': self.salario}    
        
    def aplica_aumento(self):
        self.salario = self.salario * self.aumento

In [113]:
fabio = Funcionario("Fabio",8000)

In [92]:
fabio.dados()

{'nome': 'Fabio', 'salario': 100}

In [100]:
fabio.aplica_aumento()

In [101]:
fabio.dados()

{'nome': 'Fabio', 'salario': 140.0}

In [121]:
class Funcionario():
    aumento = 1.04

    def __init__(self,nome,salario):
        self.nome = nome
        self.salario = salario

    def dados(self):
        return {'nome' : self.nome , 'salario': self.salario}    
        
    def aplica_aumento(self):
        self.salario = self.salario * self.aumento

    @classmethod
    def definir_novo_aumento(cls,novo_aumento):
        cls.aumento = novo_aumento

    @staticmethod
    def dia_util(dia):
        if dia.weekday() == 5 or dia.weekday() == 6:
            return False
        else:
            return True

In [110]:
fabio.dados()

{'nome': 'Fabio', 'salario': 8000}

In [115]:

fabio.aplica_aumento()
fabio.dados()

{'nome': 'Fabio', 'salario': 12000.0}

In [1]:
import datetime

In [130]:
minha_data = datetime.date(2021,12,12)
Funcionario.dia_util(minha_data)

False

In [1]:
import sys
print(sys.version)

3.7.9 (tags/v3.7.9:13c94747c7, Aug 17 2020, 18:58:18) [MSC v.1900 64 bit (AMD64)]